@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


.moving-text {
    display: inline-block;
    position: relative;
    animation: slide 2s infinite alternate ease-in-out;
    color: #eeeeee44;
}

  @keyframes slide {
    0%   { left: 0;}
    50% { right: 1000px;}
    100% { left: 100px;}
}


.oudad{
color: #00ffc84b;
}
body {
  height: 1vh;
  margin: 10;
  background: linear-gradient(135deg, #00334b, #00492d);
  transition: background 1s ease;
}


header:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);
    transition: box-shadow 1s ;
    transition: transform 0.2s ;
}


.gg:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);
    transition: box-shadow 1s ;
    transition: transform 0.2s ;
}




.bott {
color: #b9ffd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}
    img {
      transition: transform 0.2s ease;
        cursor: pointer;
     
}



    img:active {
      transform: scale(1.5) ;
        cursor: pointer;
      
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  max-width: 1000px;
  transition: box-shadow 0.2s;
  border-radius: 20px;
  border-width: 100cm;
  box-sizing: calc(100);
   background-attachment: scroll;
  
}

.imgg {
    border-radius: 50px;
    transition: border-radius 1s;


    
}

.imgg:hover {
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);

}


.con li img {
  width:  50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.2s;
  transform: scale(1);
}

.down {
color: #ffffff00;

}
.con{
   color: #b9ffd4;
   border-radius: 100px;
transform: scale(1);
   }
.con:hover {
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);
  transition: box-shadow 0.5s;
}
header {
  position: sticky;
  top: 0;
 transition: transform 0.2s;
  z-index: 1000;
   background-attachment: scroll;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.navigation a {
  text-decoration: none;
  color: #eeeeee;
}

.navigation a:hover {
  color: #00adb5;
}

hr {
  opacity: 10%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  max-width: 1200px;
}
.arrow {
  position: absolute;
  transform: translateX(-5.5rem) translateY(1.5rem);
}

.heroSub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 3rem;
  color: #eeeeee;
}

.title {
  font-size: 4rem;
  color: #00ffb3;
}
.heroBtns {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.hireMe {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 24px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.Botonee {
  background-color: #00532c;
  color: #aaf3ae;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  text-shadow: 100;
  display: center;
  align-items: center;
  gap: 0.5rem;
  backdrop-filter: blur(4px);
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.2s;
   padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(45deg, #00532c, #00a759);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
  position: relative;
  overflow: hidden;
 
}
@keyframes .Botonee {
  0% {
    transform: translateX(-100%) rotate(45deg);
}
  100% {
    transform: translateX(100%) rotate(45deg);
}
}

.Botonee:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);
}

.works:hover {
  box-shadow: 0 0 20px rgba(0, 172, 120, 0.8);
   transition: box-shadow 1s;
}


.Botonee:active {
      transform: scale(1.5)
}

.Botonee li :hover {
  transform: rotate(-10deg) scale(1.5);
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  max-width: 1200px;
  gap: 10rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
}
.textTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
}
.aboutName {
  color: #eeeeee;
}
.aboutTitle {
  color: #00ffc8;
}
.aboutMeParagraf {
  text-align: justify;
  color: rgb(255, 255, 255);
}
.worksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 5rem auto;
  max-width: 1200px;
}

.projectTitle {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  font-size: 2rem;
}
.works ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.works li {
  border-radius: 16px;
  background-color: rgba(0, 41, 34, 0.164);
  backdrop-filter: blur(4px);
  padding: 1rem 4rem;
      border-radius: 20px;
}
.works li img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: transform 0.2s;
}
.works li :hover {
  transform: rotate(-10deg) scale(1.5);
      border-radius: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}
.contactTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 2rem;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
  gap: 20rem;
}
.contact h3,
.contact a {
  color: #eeeeee;
  text-decoration: none;
}
.emailAndPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(4px);
  padding: 1rem;
}
.socialMedia img {
  width: 24px;
  height: 24px;
}

footer {
  color: #eeeeee;
  padding: 2rem;
  text-align: center;
    color: white;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
     align-items: center;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
     align-items: center;
  }
}
